<div class='comment'>
  <div class='comment-content'>
    <b>
      <%= comment.name %>
    </b>
    <p>
      <%= I18n.l(comment.created_at, format: :short) %>
    </p>
    <p>
      <%= comment.body %>
    </p>
  </div>
</div>
