<div class='content-footer'>
  <div class='leave-comment'>
    <%= link_to text_leave_comment(article), article_path(article, 'anchor': 'comments-section') %>
  </div>
  <div class='divider'>
  </div>
  <div class='share-social-links'>
    <%= social_share_button_tag(article.title, url: (request.base_url + article_path(article))) %>
  </div>
</div>
