<div class='rwo content-footer'>
  <div class='col-xs-6 leave-comment'>
    <%= link_to text_leave_comment(article), article_path(article, 'anchor': 'comments-section') %>
  </div>
  <div class='col-xs-1 divider'>
  </div>
  <div class='col-xs-6 share-social-links'>
    <%= social_share_button_tag(article.title, url: (request.base_url + article_path(article)), desc: article.title) %>
  </div>
</div>
