<div class='container center'>
  <h1>Категория: <%= @category.title %></h1>
  <div class='row'>
    <div class='col-xs-4'>
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <%= image_tag article.main_image.small_preview %>
        <% end %>
        <h3 class='article-title'>
          <%= link_to article.title, article_path(article) %>
        </h3>
      <% end %>
    </div>
  </div>
</div>
