<div class='container center'>
  <h1>Категория: <%= @category.title %></h1>
  <div class='row'>
    <% @articles.each do |article| %>
      <div class='col-xs-4'>
        <%= link_to article_path(article) do %>
          <%= image_tag article.small_main_image %>
        <% end %>
        <h3 class='article-title'>
          <%= link_to article.title, article_path(article) %>
        </h3>
      </div>
    <% end %>
  </div>
</div>
