<div class='container center category-articles'>
  <h1><%= I18n.t('articles.category', title: @category.title) %></h1>
  <div class='row'>
    <% @articles.each do |article| %>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <%= link_to article_path(article) do %>
          <%= image_tag article.small_main_image.thumb %>
        <% end %>
        <h3 class='article-title'>
          <%= link_to article.title, article_path(article) %>
        </h3>
      </div>
    <% end %>
  </div>
</div>
