<div class='container center container-about-us'>
  <h1>О нас</h1>
  <p class='title'>Lumina происходит из латинского слова «lumen» (свет), что означает, лучистую энергию, воспринимаемую глазом, делающую окружающий мир видимым.</p>
  <p class='description'>Lumina Creative Group – это молодая и опытная команда профессионалов своего дела. Год основания студии 2016, но не смотря на это мы активно набираем обороты в организации торжеств любого масштаба и бюджета. Мы  обожаем делать то, чем мы занимаемся! А это значит, что свою работу мы делаем от чистого сердца, на все 100% отдаваясь рабочему процессу. Мы обожаем праздники, и поэтому все, что мы творим для вас, мы делаем как для себя. Сотрудники  Lumina Creative Group  заинтересованы в том, чтобы делать свою работу качественно, ведь верим в то, что все наши клиенты с нами на всю жизнь. Мы постоянно проходим курсы повышения квалификации, читаем бизнес литературу, приглашаем к себе знаменитостей event индустрии для проведения мастер-классов, посещаем конференции и воркшопы для развития сотрудников. </p>
  <p class='about-us-bottom'>Зовите свет дарить улыбки вам и вашим гостям!</p>

  <h1>Процесс создания нового проекта</h1>
  <p class='title'>С каждой новой идеей и задумкой мы с головой погружаемся в процесс создания. Любим уделять внимание каждой детали, ведь именно это передает ту самую атмосферу праздника. Пошагово расскажем вам как к каждому мероприятию готовится команда Lumina Creative Group.</p>

  <div class='row'>
    <div class='col-xs-4'>
      <p class='title title__service'>01. Рады встречи с вами!</p>
      <p class='description justify'>Для начала мы встретимся с вами, желательно, в неформальной обстановке для знакомства и обсуждения деталей. Мы расскажем свое видение проекта, если нужно поможем «вписаться» в ваш бюджет, если нужно выйти из него и показать на что мы способны. Так же опишем тайминг мероприятия, поможем выбрать нужный пакет услуг и распишем последовательность наших действий к достижению праздника вашей мечты.</p>
    </div>
    <div class='col-xs-4'>
      <p class='title title__service'>02. Оплата & Планирование</p>
      <p class='description justify'>После того, как определимся с концепцией мероприятия, переходим к бронированию даты и времени для подготовки к празднику. Для этого необходимо внести депозит в размере 50% от составленной сметы. Так же мы обсудим последовательность нашей подготовки и отчетность перед вами.</p>
    </div>
    <div class='col-xs-4'>
      <p class='title title__service'>03. Визуализация</p>
      <p class='description justify'>Мы считаем, что визуальное представление имеет решающее значение для создания именно того, что вы хотите видеть. До даты начала, вам нужно будет заполнить подробную анкету, предоставить примерные фото или собрать доску вдохновения на Pinterest. Это поможет нам сузить свой эстетический дизайн, представить цветовую палитру, и понять ваше видение праздника.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
      <p class='title title__service'>04. Этап проектирования</p>
      <p class='description justify'>Мы начинаем проектирование и иллюстрирование проекта, которое основано на ваших фото и доске визуализации, собранных заранее. После утверждения макета, мы вышлем ваш окончательный счет, соответственно, если позиции будут варьироваться. Вы постоянно будете в курсе наших событий и следить за процессом работы воочию или в телефонном режиме, вы будете уведомлены об изменениях структуры ткани или плотности бумаги, если на то будет необходимость.</p>
    </div>
    <div class='col-xs-4'>
      <p class='title title__service'>05. Финальный штрих</p>
      <p class='description justify'>После того, как оставшиеся 50% процентов от стоимости счета будут оплачены, вы получите ваши цифровые файлы, ваш физический бумажный декор, который будет готов к использованию, услугу или  праздник под ключ.</p>
    </div>
    <div class='col-xs-4'>
      <p class='title title__service'>06. Давайте праздновать!</p>
      <p class='description justify'>Мы усердно и кропотливо работали вместе в течение нескольких недель, время праздновать!</p>
    </div>
  </div>
</div>
