<div class='container center'>
  <h1>О нас</h1>
  <p>Люмина исходит из латинского слова «просвет», что означает, чтобы он был блистательным или светлым, чтобы сиять ярким светом.</p>
  <p>Студия Lumina Creative Group началась с любви к созданию, а также с любовью к тому, чтобы сделать людей счастливыми. Со страстью к хорошо продуманному дизайну, Фрэнсис Бош мечтала о студии в 2015 году. Со степенью в Visual Communication Design страсть к дизайну росла и расцвела в Creative Group, которая стремится создавать красивые, содержательные и запоминающиеся проекты. Мы создаем персонализированные проекты для клиентов с множеством потребностей и всегда открыты для пользовательских запросов. Независимо от того, являются ли ваши потребности традиционными или далеки от этого, мы хотим создать для вас дизайн, который приносит улыбку вашему лицу каждый раз, когда вы его видите.</p>
  <p>Lumina Creative Group считает, что дизайн будет намного больше, чем просто эстетически приятным.</p>
  <p>Мы считаем, что дизайн может ...</p>
  <p>ПРОПУСТИТЕ БИЗНЕС, ЧТОБЫ РАСТИТЬ И СТАТЬ УСПЕШНЫМ.</p>
  <p>СОЗДАТЬ ЛЮДЕЙ И СОЗДАТЬ ИЗМЕНЕНИЕ.</p>
  <p>УБИВАЮТ СЛЕДУЮЩИЕ ВЗГЛЯДЫ.</p>
  <p>INVENT & INNOVATE.</p>
  <p>ПРАЗДНУЙТЕ СПЕЦИАЛЬНЫЕ СЛУЧАИ.</p>
  <p>ПРИГЛАШАЙТЕ СВЕТ.</p>
  <%= image_tag('https://s3.eu-central-1.amazonaws.com/lumina-staging/uploads/lilya.jpg') %>
  <h2>НАШ ПРОЦЕСС</h2>
  <p>С каждым дизайном мы погружаемся в процесс создания глубоко личных продуктов, чтобы не только удовлетворить наших дизайнеров-любящих клиентов, но и идти по пути от идеала до конца.</p>
  <div class='row'>
    <div class='col-xs-4'>
      <h3>01. УДОВЛЕТВОРИТЕЛЬНО ВСТУПИТЬСЯ С ВАМИ!</h3>
      <p class='justify'>Во-первых, у нас будет неофициальный разговор о вашем видении и узнать друг друга! Мы обсудим вашу историю, ваши цели, что вы в конечном счете ищете из эстетической перспективы. Мы также поговорим о вашей временной шкале и о том, чего ожидать от этого процесса. Я также могу обеспечить понимание, чтобы вы выбрали правильный пакет</p>
    </div>
    <div class='col-xs-4'>
      <h3>02. ЗАЩИТА И РАСПИСАНИЕ</h3>
      <p class='justify'>После встречи и изложения проекта мы предоставим вам индивидуальную и исчерпывающую цитату. Чтобы сохранить дату начала, потребуется 50% депозит и подписанное соглашение, чтобы зарезервировать место в нашем расписании.</p>
    </div>
    <div class='col-xs-4'>
      <h3>03. ОТКРЫТИЕ</h3>
      <p class='justify'>Мы считаем, что исследования имеют решающее значение для создания именно того, что вы себе представляете. Перед началом работы вам нужно будет заполнить подробный вопросник и составить панель вдохновения Pinterest. Это поможет нам сузить дизайн эстетического, идеального клиента, цветовую палитру и многое другое о вашем бизнесе.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
      <h3>04. ФАЗА ДИЗАЙНА</h3>
      <p class='justify'>Мы начнем разрабатывать и иллюстрировать основываясь на вашем вдохновении, а также на исследованиях, собранных заранее. После утверждения мы вышлем ваш окончательный счет на оставшийся остаток. Вы будете постоянно обновляться в процессе работы. С проведением свадьбы и событий мы будем доставлять работу пошагово, о чем говорилось на нашей встрече.</p>
    </div>
    <div class='col-xs-4'>
      <h3>05. ЗАВЕРШЕНИЕ</h3>
      <p class='justify'>Как только оставшиеся 50% процентов счета будут оплачены, вы получите свои цифровые файлы, или ваши физические бумажные товары будут доставлены и готовы к использованию!</p>
    </div>
    <div class='col-xs-4'>
      <h3>06. ПОЛУЧИТЕ ПРАЗДНИК!</h3>
      <p class='justify'>Мы так много работали целыми неделями, время, чтобы всплывать пузырьками и праздновать!</p>
    </div>
  </div>
</div>
