<div class='hidden loading'>
  <%= image_tag('https://s3.eu-central-1.amazonaws.com/lumina-staging/uploads/ajax-loader.gif') %>
</div>
<div class='carousel-photos hidden'>
  <% @landing_images.each do |image| %>
    <%= image_tag(image.file) %>
  <% end %>
</div>
