<div class='container center service-container'>
  <div class='row'>
    <h1>Услуги</h1>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <p class='title title__service'>1.  Корпоративные мероприятия</p>
      <p class='description justify'>С момента появления корпоративного строя, одной из основных задач руководства стало сплочение команды. Все знают, что умный и дружный коллектив легче справляется со сложными задачами. Будь то тимбилдинг или новогодный корпоратив – организация корпоративных мероприятий идеальный выход из трудных ситуаций.</p>
    </div>
    <div class='col-xs-6'>
      <p class='title title__service'>2.  Детские праздники</p>
      <p class='description justify'>Обещаем вам – смеяться будет даже самый старенький и угрюмый дедушка! Повторимся еще раз – мы обожаем то, чем занимаемся, поэтому уверенны в том, что ваш праздник пройдет на высшем уровне. Актеры-аниматоры отдаются процессу на все 100%, а декор заставит вас поверить в сказку.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <p class='title title__service'>3.  Полиграфия / бумажный декор</p>
      <p class='description justify'>Баннер или свадебное приглашение, визитка или ручка с логотипом компании, колпачки ко Дню рождения или брендирование сцены. Широкий диапазон услуг поможет сэкономить вам ваше бесценное время, ведь все это можно заказать у нас.</p>
    </div>
    <div class='col-xs-6'>
      <p class='title title__service'>4.  Свадебное направление</p>
      <p class='description justify'>Это ведь день вашей мечты! Все в ваших руках для того, чтобы сделать этот день идеальным. Приятная музыка, счастье в глазах гостей, ароматное шампанское – неотъемлемые атрибуты каждой свадьбы. Мы поможем вам провести этот день с легкостью, поможем запомнить каждую деталь праздника и сохранить ее в памяти на всю жизнь.</p>
    </div>
  </div>
</div>
