<div class='container'>
  <div class='row'>
    <h1 class='albulm-title'>
      <%= @albulm.title %>
    </h1>
    <p class='albulm-description'>
      <%= @albulm.description %>
    </p>
    <% @albulm.images.each do |image| %>
      <div class='col-xs-6'>
        <%= image_tag image.file %>
      </div>
    <% end %>
  </div>
</div>
