@font-face {
  font-family: "GothamProLight";
  src: font-url("fonts/GothamProLight.eot");
  src: font-url("fonts/GothamProLight.eot?#iefix") format("embedded-opentype"),
       font-url("fonts/GothamProLight.woff") format("woff"),
       font-url("fonts/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
