.container-about-us {
  h3 {
    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
}
.image-about-us {
  @media (max-width: 991px) {
    width: 720px;
  }
}
.service-container {
  border-bottom: 1px solid #424040;
  margin-bottom: 100px;
  .row {
    margin-bottom: 40px;
  }
}
